<!-- <label>Nome do curso</label>
<input type="text" [value]="nomeCurso" (input)="nomeCurso = $event.target.value"/>

<br>

<label>Nome do curso</label>
<input type="text" [ngModel]="nomeCurso" (ngModelChange)="nomeCurso = $event"/>
<br>

<input type="text" [(ngModel)]="curso.nomeCurso">
<input type="number" [(ngModel)]="curso.versao">


<br>

<p>O nome do curso digitado foi {{ nomeCurso }}</p>
<p>O nome do curso {{ curso.nomeCurso }} e estamos na versão {{ curso.versao }}</p> -->

<!-- <app-classbinding></app-classbinding> -->

<!-- <app-input
[curso]= "curso"
[principal] = "principal"
>
</app-input> -->

<h2>Should mankind colonize the Universe?</h2>
    <h3>Agree: {{agreed}}, Disagree: {{disagreed}}</h3>
    <app-output *ngFor="let voter of voters"
      [name]="voter"
      (voted)="onVoted($event)">
    </app-output>